<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/index.css" rel="stylesheet">
	<title>Catering</title>
</head>

<body>
	 <div class="flex-container">
		<h1 th:text="#{welcome}+' '+${user.nome}"></h1>
		<div><a th:href="@{admin/editBuffet}" th:text="#{page-editBuffet}"></a></div>
		<div><a th:href="@{admin/insertChef}" th:text="#{page-insertChef}"></a></div>
		<div><a th:href="@{/admin/explore}" th:text="#{page-explore}"></a></div>
	</div> 
</body>

</html>

  