<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/list.css" rel="stylesheet">
<!-- <link rel="icon" href="/images/cloche.ico" type="image/x-icon"> -->
</head>

<body>
	<div id="header">
		<img src="/image/catering-logo.svg" width="75px" />
		<ul>
			<li class="item"><a class="link" th:href="@{/index}">Home</a></li>
			<li class="item"><a class="link" th:href="@{/default}">Welcome Page</a></li>
		</ul>

	</div>
	
	<div class="white">
		<h1 class="titolo" th:text="#{chefList.message}">Lista degli chef</h1>
		<table class="table">
			 <thead>
				<tr>
					<th th:text="#{form.name}">Nome</th>
					<th th:text="#{list.categoria}">Cognome</th>
					<th th:text="#{list.description}">descrizione</th>
					<th >Chef</th>
					
				</tr>
			</thead>
			<tbody>
				<!--<tr th:if="${chef.isEmpty()}">
					<td colspan="3">No Buffets Available</td>
				</tr>-->

				<tr >
					<td th:text="${buffet.nome}">Nome</td>

					<td th:text="${buffet.categoria}">Cognome</td>

					<td th:text="${buffet.descrizione}">Nazionalita</td>
					
					<td th:text="${buffet.chef.nome} + ' ' + ${buffet.chef.cognome}">Nazionalita</td>

				</tr>
				<tr>
					<td colspan="4" >
						<a th:href="@{/admin/buffets}" th:text="#{cheflist.message}">Lista chef</a></td>
				</tr>

			</tbody> 
		</table>
	</div>
	
</body>

</html>

<!-- <div>
		<h4>Dettagli dello chef da te inserito:</h4>
		<ul class="list">
			<li><span th:text="#{chefname.message}+' '+${chef.nome}">Paolo</span></li>
			<li><span th:text="#{chefsurname.message}+' '+${chef.cognome}">Rossi</span></li>
			<li><span
				th:text="#{chefnationality.message}+' '+${chef.nazionalita}">neozelandese</span></li>
		</ul>

		<div>
			<a class="link" th:href="@{/admin/chefs}" th:text="#{cheflist.message}">Lista
				degli chef</a>
		</div>
	</div> -->

