<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/list.css" rel="stylesheet">
<link rel="icon" href="/image/catering-logo.ico" type="image/x-icon">
<title th:test="#{chefs}">Chefs</title>
</head>

<body>
	<div id="header">
		<img src="/image/catering-logo.svg" width="75px" />
		<ul>
			<li class="item"><a class="link" th:href="@{/index}" th:text="#{header-home}">Home</a></li>
			<li class="item"><a class="link" th:href="@{/default}" th:text="#{header-welcomePage}">Welcome Page</a></li>
		</ul>

	</div>

	<div class="white">
	<h1 class="titolo" th:text="#{chefs}">Lista degli chef</h1>
		<table class="table">
			<thead>
				<tr>
					<th th:text="#{name.message}">Nome</th>
					<th th:text="#{surname.message}">Cognome</th>
					<th th:text="#{nationality.message}">Nazionalita</th>
					<th th:text="#{edit.button}">Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${chefs.isEmpty()}">
					<td colspan="3">No Buffets Available</td>
				</tr>

				<tr th:each="chef : ${chefs}">
					<td th:text="${chef.nome}" >Nome</td>

					<td th:text="${chef.cognome}">Cognome</td>

					<td th:text="${chef.nazionalita}">Nazionalitá</td>

					<td><a class="button"
						th:href="@{'/admin' + '/' +'removeChef' + '/' + ${chef.id}}"
								th:text="#{remove.button}">Rimuovi</a>
						<a class="button"
						th:href="@{'/admin' + '/' +'editChef' + '/' + ${chef.id}}"
								th:text="#{edit.button}">Edit</a>

					</td>
				</tr>

			</tbody>
		</table>
	</div>

</body>
</html>
