<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/form.css" rel="stylesheet">
<link rel="icon" href="/image/catering-logo.ico" type="image/x-icon">
</head>

<body>
	<div id="header">
		<img src="/image/catering-logo.svg" width="75px" />
		<ul>
			<li class="item"><a class="link" th:href="@{/index}" th:text="#{header-home}">Home</a></li>
			<li class="item"><a class="link" th:href="@{/default}" th:text="#{header-welcomePage}">Welcome Page</a></li>
		</ul>

	</div>
	<div class="flex-container">
		<div class="box">
			<form th:action="@{'/admin' + '/' +'editBuffet' + '/' + ${buffet.id}}" method="post" th:object="${buffet}">
			<table>
			</table>
			</form>
		
		</div>
		
	</div>

</body>

</html>

<!-- <form th:action="@{'/admin' + '/' +'editBuffet' + '/' + ${buffet.id}}" method="post" th:object="${buffet}">
			<div class="box">
				<h1 id="l-title" th:text="#{header-editBuffet}">Registrati</h1>
				<div class="form-line">
					<span th:text="#{name.message}">Nome:</span> <span><input th:value="${buffet.nome}"
						name="name" type="text" th:placeholder="#{placeholder-name}"
						th:field="${buffet.nome}" required /></span>
				</div>
				<div class="form-line">
					<span th:text="#{category.message}">Categoria:</span> <span><input th:value="${buffet.categoria}"
						name="surname" type="text"
						th:placeholder="#{placeholder-category}" required
						th:field="${buffet.categoria}" /> </span>
				</div>
				<div class="form-line">
					<span th:text="#{description.message}">Descrizione:</span> <span><input th:value="${buffet.descrizione}"
						name="nationality" type="text"
						th:placeholder="#{placeholder-description}" required
						th:field="${buffet.descrizione}" /> </span>
				</div>
				  <div class="form-line" >
				 	<label th:for="selettore" th:text="#{chef.message}"> </label>
					<select id="selettore"  th:field="*{chef}">
						<option th:each="chef : ${chefs}" th:value="${chef.id}" th:text="${chef.nome} + ' ' + ${chef.cognome}"></option>
					</select>
				</div>  

				<div class="button">
					<span><button type="submit"
							th:text="#{confirm.button}">Conferma</button></span>
				</div>
			</div>
		</form> -->