<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

	<head>
	    <meta charset="UTF-8">
	
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	    <link href="/css/index.css" rel="stylesheet">
	    <link rel="icon" href="/images/cloche.ico" type="image/x-icon">
	    <title>Explore</title>
	</head>

	<body>
	        <ul>
	            <li>
	                <a class="link" th:href="@{/admin/chefs}">Esplora la nostra scelta per chef</a>
	            </li>
	            <li>
	                <a class="link" th:href="@{/categories}">Esplora la nostra scelta per categoria</a>
	            </li>
	        </ul>
	</body>
</html>