<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/form.css" rel="stylesheet">
<!-- <link rel="icon" href="/images/cloche.ico" type="image/x-icon"> -->
<title th:text="#{insertChef}">InsertChef</title>
</head>

<body>
	<div id="header">
		<img src="/image/catering-logo.svg" width="75px" />
		<ul>
			<li class="item"><a class="link" th:href="@{/index}" th:text="#{header-home}">Home</a></li>
			<li class="item"><a class="link" th:href="@{/default}" th:text="#{header-welcomePage}">Welcome Page</a></li>
		</ul>

	</div>
	<div class="flex-container">
		<div class="box">
			<h1 id="title" th:text="#{header-insertChef}">Registrati</h1>
			<form th:action="@{/admin/insertChef}" method="post">
				<table>
					<tr>
						<td th:text="#{name.message}"></td>
						<td><label><input name="name" type="text" th:placeholder="#{placeholder-name}"
						th:field="${chef.nome}" required></label></td>
					</tr>
					<tr>
						<td th:text="#{surname.message}"></td>
						<td><label><input name="surname" type="text"
						th:placeholder="#{placeholder-surname}" required
						th:field="${chef.cognome}"></label></td>
					</tr>
					<tr>
						<td th:text="#{nationality.message}"></td>
						<td><label><input name="nationality" type="text"
						th:placeholder="#{placeholder-nationality}" required
						th:field="${chef.nazionalita}"></label></td>
					</tr>
				</table>
					<div class="button-div">
					<span><button type="submit"
							th:text="#{confirm.button}">Conferma</button></span>
				</div>
			</form>
			
		</div>
		
	</div>

</body>

</html>

<!-- <form th:action="@{/admin/insertChef}" method="post">
			<div class="box">
				<h1 id="l-title" th:text="#{header-insertChef}">Registrati</h1>
				<div class="form-line">
					<span th:text="#{name.message}">Nome:</span> <span><input
						name="name" type="text" th:placeholder="#{placeholder-name}"
						th:field="${chef.nome}" required /></span>
				</div>
				<div class="form-line">
					<span th:text="#{surname.message}">Cognome:</span> <span><input
						name="surname" type="text"
						th:placeholder="#{placeholder-surname}" required
						th:field="${chef.cognome}" /> </span>
				</div>
				<div class="form-line">
					<span th:text="#{nationality.message}">Username:</span> <span><input
						name="nationality" type="text"
						th:placeholder="#{placeholder-nationality}" required
						th:field="${chef.nazionalita}" /> </span>
				</div>

				<div class="button">
					<span><button type="submit"
							th:text="#{confirm.button}">Registrati</button></span>
				</div>
			</div>
		</form> -->
