<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/form.css" rel="stylesheet">
<!-- <link rel="icon" href="/images/cloche.ico" type="image/x-icon"> -->
<title th:text="#{insertBuffet}">Insert Buffet</title>
</head>

<body>
	<div id="header">
		<img src="/image/catering-logo.svg" width="75px" />
		<ul>
			<li class="item"><a class="link" th:href="@{/index}" th:text="#{header-home}">Home</a></li>
			<li class="item"><a class="link" th:href="@{/default}" th:text="#{header-welcomePage}">Welcome Page</a></li>
		</ul>

	</div>
	<div class="flex-container">
		<div class="box">
			<form th:action="@{/admin/insertBuffet}" method="post" th:object="${buffet}">
				<h1 id="title" th:text="#{header-insertBuffet}">Registrati</h1>
				<table>
					<tr>
						<td th:text="#{name.message}"> Nome</td>
						<td><label><input name="name" type="text" th:placeholder="#{placeholder-name}"
						th:field="${buffet.nome}" required></label></td>
					</tr>
					<tr>
						<td th:text="#{category.message}"> Nome</td>
						<td><label><input name="category" type="text" th:placeholder="#{placeholder-category}" required
						th:field="${buffet.categoria}"></label></td>
					</tr>
					<tr>
					<td th:text="#{description.message}"> Nome</td>
						<td><label><input name="description" type="text"
						th:placeholder="#{placeholder-desription}" required
						th:field="${buffet.descrizione}"></label></td>
					</tr>
					<tr>
						<td> <label th:for="selettore" th:text="#{chef.message}"> </label></td>
						<td> <select id="selettore"  th:field="*{chef}">
						<option th:each="chef : ${chefs}" th:value="${chef.id}" th:text="${chef.nome} + ' ' + ${chef.cognome}"></option>
					</select></td>
					</tr>
					<tr>
					
						<td> <label for="checklist">Piatti:</label></td> 
						<td id="checklist" th:each="piatto : ${dishes}">
						<input type="checkbox"  th:field="*{piatti}" th:value="${piatto.id}" th:text="${piatto.nome}" /></td> 	
					</tr>
					
				</table>

				<div class="button-div">
					<span><button type="submit"
							th:text="#{confirm.button}">Conferma</button></span>
				</div>
			
			</form>
		</div>
		
	</div>

</body>

</html>

