<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/list.css" rel="stylesheet">
<link rel="icon" href="/images/cloche.ico" type="image/x-icon">
<title th:text="#{buffets}">Buffets</title>
</head>

<body>
	<div id="header">
		<img src="/image/catering-logo.svg" width="75px" />
		<ul>
			<li class="item"><a class="link" th:href="@{/index}" th:text="#{header-home}">Home</a></li>
			<li class="item"><a class="link" th:href="@{/default}" th:text="#{header-welcomePage}">Welcome Page</a></li>
		</ul>

	</div>

	<div class="white">
		<h1 class="titolo" th:text="#{buffets}"></h1>
		<table class="table">
			<thead>
				<tr>
					<th th:text="#{chef.message}">Chef</th>
					<th th:text="#{name.message}">Nome</th>
					<th th:text="#{category.message}">Categoria</th>
					<th th:text="#{description.message}">Descrizione</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${buffets.empty}">
					<td colspan="4">No Buffets Available</td>
				</tr>

				<tr th:each="buffet : ${buffets}">

					<td th:text="${buffet.chef.nome} +' '+ ${buffet.chef.cognome}">Nome</td>

					<td th:text="${buffet.nome}">Nome</td>

					<td th:text="${buffet.categoria}">Cognome</td>

					<td th:text="${buffet.descrizione}">Nazionalita</td>
					
					<td><a class="button" th:href="@{'/buffetDishes' + '/' + ${buffet.id}}"
								th:text="#{dishPerBuffet.message}">Piatti per Buffet</a> </td>

				</tr>

			</tbody>
		</table>
	</div>

</body>
</html>
