<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/welcome.css" rel="stylesheet">
<link rel="icon" href="/images/cloche.ico" type="image/x-icon">
<title th:text="#{explore}">Explore</title>
</head>

<body>
	<div id="header">
		<img src="/image/catering-logo.svg" width="75px" />
		<ul>
			<li class="item"><a class="link" th:href="@{/index}" th:text="#{header-home}">Home</a></li>
			<li class="item"><a class="link" th:href="@{/default}" th:text="#{header-welcomePage}">Welcome Page</a></li>
		</ul>

	</div>
	<div class="flex-container">
		<div class="box">
			<h1 th:text="#{explorePage-title}">Cosa vuoi fare</h1>
			<div>
				<a class="link" th:href="@{/chefs}" th:text="#{explorePage-chef}">Esplora
					la nostra scelta per chef</a>
			</div>
			<div>
				<a th:href="@{/buffets}" th:text="#{explorePage-buffet}"> Esplora
					tuttu i buffets</a>
			</div>
		</div>
	</div>
</body>
</html>