<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/index.css" rel="stylesheet">
<link rel="icon" href="/image/catering-logo.ico" type="image/x-icon">
<title th:text="#{catering}">Catering</title>
</head>

<body>
	<div class="fullscreen nopadding">
		<div id="header">
			<img src="/image/catering-logo.svg" width="75px" />
			<ul>
				<li class="item"><a class="link" th:href="@{/login}" th:text="#{header-login}">Accedi</a></li>
				<li class="item"><a class="link" th:href="@{/register}" th:text="#{header-register}">Registrati</a></li>
			</ul>

		</div>
		<div class="header">
			<h1>Un catering</h1>
		</div>
	</div>

	<div class="white">
		<a id="test"></a>
		<h1>About Us</h1>
		<p>
			From breakfast options that will fire up the team, sweet and 
			savoury that will be demolished to fresh, wholesome lunches 
			with lots of special diet options. Our gourmet platters are 
			impressive in colour and variety and our finger food range will
			please the most discerning guests. Our catering has been created
			to satisfy your needs at the office, for training sessions and 
			of course at home too.
		</p>
	</div>

	<div class="semitrans">
		<h1>"Wayne W. Dyer"</h1>
		<p>VWhen you are able to shift your inner awareness to how you can 
			serve others, and when you make this the central focus of your 
			life, you will then be in a position to know true miracles in your 
			progress toward prosperity.</p>
		<h2>"Douglas Adams"</h2>
		<p>To give real service you must add something which cannot be bought 
			or measured with money, and that is sincerity and integrity</p>
	</div>

	<div class="dark">
		<p>
			Made by Kevin Santodonato
		</p>
	</div>
</body>

</html>

