<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/list.css" rel="stylesheet">
<link rel="icon" href="/image/catering-logo.ico" type="image/x-icon">
<title th:text="#{chefs}">Chefs</title>
</head>

<body>
	<div id="header">
		<img src="/image/catering-logo.svg" width="75px" />
		<ul>
			<li class="item"><a class="link" th:href="@{/index}" th:text="#{header-home}">Home</a></li>
			<li class="item"><a class="link" th:href="@{/default}" th:text="#{header-welcomePage}">Welcome Page</a></li>
		</ul>

	</div>

	<div class="white" >
		<h1 class="titolo" th:text="#{ingredients}">Lista degli chef</h1>
		<table class="table">
			<thead>
				<tr>
					<th th:text="#{name.message}">Nome</th>
					<th th:text="#{origin.message}">Origine</th>
					<th th:text="#{description.message}">Descrizione</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${piatto.ingredienti.isEmpty()}">
					<td colspan="4">No Ingredients Available</td>
				</tr>

				<tr th:each="ingrediente : ${piatto.ingredienti}">
					<td th:text="${ingrediente.nome}">Nome</td>

					<td th:text="${ingrediente.origine}">Origine</td>

					<td th:text="${ingrediente.descrizione}">Descrizione</td>
				
				</tr>

			</tbody>
		</table>
	</div>
</body>
</html>


