
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/form.css" rel="stylesheet">
<link rel="icon" href="/image/catering-logo.ico" type="image/x-icon">
<title th:text="#{login}">Login</title>
</head>

<body>
	<div id="header">
		<img src="/image/catering-logo.svg" width="75px" />
		<ul>
			<li class="item"><a class="link" th:href="@{/index}" th:text="#{header-home}">Home</a></li>
		</ul>

	</div>
	<div class="flex-container">
		<div class="box">
			<form th:action="@{/login}" method="POST">
				<h1 id="title">Login</h1>
				<table class="login-table">
					<tr>
						<td th:text="#{username.message}">Username:</td>
						<td><label><input name="username" type="text"
								th:placeholder="#{placeholder-username}" required></label></td>
					</tr>
					<tr>
						<td th:text="#{password.message}">Password:</td>
						<td><label><input name="password" type="password"
								th:placeholder="#{placeholder-password}" required></label></td>
					</tr>
				</table>
				<div class="button-div">
					<span>
						<button class="button" type="submit" th:text="#{login.button}">Login</button>
					</span>
				</div>
			</form>
		</div>
	</div>
</body>

</html>




