@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
html, body {
  height:100%;
  font-family: 'Cardo',serif;
  font-size: 25px;
}

html {
  background: url(/image/servizio-catering.jpg) fixed;
  background-size: 100%;
}

.flex-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box{
  background-color: rgba(238,238,236, .9);
  margin: 15%;
  border-radius: 25px;  
}

.box div{
  margin: 30px 
}

#header {
  background: rgba(255, 255, 255, .5);
  padding: 1%;
  overflow: hidden;
  height: 55px;
}

#header img {
  float: left;
  box-shadow: none;
}
#header ul {
  list-style: none;
  float: left;
  padding-left: 10px;
  margin-top: 15px;
}
#header ul li {
  float: left;
  margin-left: 10px;
  font-size: 20px;
}

.item:hover{
  background-color: rgba(176, 192, 207, 0.8);
  border-radius: 10%;
}

.item a{
	text-decoration:none;
	text-align: center;
	color: black;
	padding: 6px 10px;
	display: block;
}

.box a{
  border: solid 2px;
  border-color: rgb(176, 192, 207);
  padding: 5px 30px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
   
}

.box a:hover{
  background-color: rgba(176, 192, 207, 0.8);
  color:white;
}